# Order from Chaos

In [106]:
# from bokeh.plotting import figure, output_file, show
import gzip
import io
import pandas as pd
import urllib.request

%matplotlib inline

import matplotlib # plotting
import matplotlib.pyplot as plt

import sqlite3

%matplotlib inline

import matplotlib
import numpy as np
import matplotlib.pyplot as plt

## Three Worlds in One

### Normal Python

In [4]:
# unmodified python
x = 'HELLO'
print(x.lower())
print(x)

hello
HELLO

In [10]:
# print first two letters
x[0:2]
x[:2]

'HE'

### Pandas

In [108]:
# pandas is very good at handling rows and columns
ramphs = pd.read_csv("http://sebastianheath.com/roman-amphitheaters/roman-amphitheaters.csv")
chronogrps = pd.read_csv("http://sebastianheath.com/roman-amphitheaters/chronogrps.csv")

In [109]:
ramphs

,id,title,label,pleiades,welch,golvin,type,capacity,modcountry,province,...,chronogrp,certainty,youtube,extmajor,extminor,arenamajor,arenaminor,latitude,longitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,https://pleiades.stoa.org/places/893989,NaN,129.0,amphitheater,1000.0,Syria,syria,...,severan,NaN,NaN,50.0,44.0,31.0,25.0,34.749855,40.728926,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,https://pleiades.stoa.org/places/148217,NaN,154.0,amphitheater,20000.0,France,narbonensis,...,flavian,NaN,https://www.youtube.com/watch?v=oCz-76hb1LU,136.0,107.0,47.0,32.0,43.677778,4.631111,21
2,lyonAmphitheater,Amphitheater at Lyon,Lyon,https://pleiades.stoa.org/places/167717,NaN,NaN,amphitheater,20000.0,France,lugdunensis,...,second-century,NaN,NaN,105.0,NaN,67.6,42.0,45.770556,4.830556,206
3,ludusMagnusArena,Ludus Magnus Arena,Ludus Magnus,https://pleiades.stoa.org/places/423025,NaN,NaN,practice-arena,NaN,Italy,NaN,...,imperial,NaN,NaN,NaN,NaN,NaN,NaN,41.889950,12.494913,22
4,romeFlavianAmphitheater,Flavian Amphitheater at Rome,Colosseum,https://pleiades.stoa.org/places/423025,NaN,152.0,amphitheater,50000.0,Italy,NaN,...,flavian,NaN,https://www.youtube.com/watch?v=kxwenPo1grc,189.0,156.0,83.0,48.0,41.890169,12.492269,22
5,romeAmphitheatrumCastrense,Amphitheatrum Castrense (Rome),Amph. Castrense,https://pleiades.stoa.org/places/423025,NaN,189.0,amphitheater,7000.0,Italy,NaN,...,severan,NaN,NaN,88.0,75.8,NaN,NaN,41.887715,12.515144,48
6,eleutheropolisAmphitheater,Amphitheater at Eleutheropolis,Eleutheropolis,https://pleiades.stoa.org/places/687854,NaN,NaN,amphitheater,3500.0,Israel,judaea,...,second-century,NaN,https://www.youtube.com/watch?v=bA6YNf8ZwlI,71.0,56.0,47.0,38.0,31.608189,34.893845,253
7,pompeiiAmphitheater,Amphitheater at Pompeii,Pompeii,https://pleiades.stoa.org/places/433032,1.0,NaN,amphitheater,22000.0,Italy,NaN,...,republican,NaN,https://www.youtube.com/watch?v=bqf4bJyo3rU,135.0,104.0,66.0,35.0,40.751213,14.495262,21
8,meridaAmphitheater,Amphitheater at Mérida,Mérida,https://pleiades.stoa.org/places/256155,NaN,77.0,amphitheater,15000.0,Spain,lusitania,...,julio-claudian,NaN,https://www.youtube.com/watch?v=g4gNhPD2dV4,126.0,102.0,64.0,41.0,38.916168,-6.337952,231
9,newsteadAmphitheater,Amphitheater at Newstead,Newstead,https://pleiades.stoa.org/places/89304,NaN,NaN,amphitheater,1500.0,United Kingdom,britannia,...,flavian,NaN,NaN,70.0,60.0,37.0,23.0,55.602600,-2.691900,83
10,conimbrigaAmphitheater,Amphitheater at Conimbriga,Conimbriga,https://pleiades.stoa.org/places/236443,NaN,101.0,amphitheater,4000.0,Portugal,lusitania,...,julio-claudian,NaN,NaN,94.0,80.0,54.0,40.0,40.099444,-8.493330,100
11,cumaeAmphitheater,Amphitheater at Cumae,Cumae,https://pleiades.stoa.org/places/432808,4.0,NaN,amphitheater,NaN,Italy,NaN,...,republican,NaN,NaN,114.0,84.0,NaN,NaN,40.841847,14.056000,19
12,pozzuoliFlavianAmphitheater,Flavian Amphitheater at Pozzuoli,Pozzuoli (Flavian),https://pleiades.stoa.org/places/432815,NaN,153.0,amphitheater,35700.0,Italy,NaN,...,flavian,NaN,https://www.youtube.com/watch?v=VCCD-YeNQKk,149.0,116.0,74.8,42.0,40.825929,14.125315,41
13,pozzuoliEarlyAmphitheater,Early Amphitheater at Pozzuoli,Pozzuoli (Early),https://pleiades.stoa.org/places/432815,8.0,NaN,amphitheater,NaN,Italy,NaN,...,republican,NaN,NaN,NaN,NaN,NaN,NaN,40.826239,14.127615,58
14,syracuseAmphitheater,Amphitheater at Syracuse,Syracuse,https://pleiades.stoa.org/places/462503,NaN,83.0,amphitheater,28773.0,Italy,sicilia,...,julio-claudian,NaN,https://www.youtube.com/watch?v=aUcjHzMZCeY,146.8,118.7,69.8,39.7,37.074132,15.278934,23
15,carthageAmphitheater,Amphitheater at Carthage,Carthage,https://pleiades.stoa.org/places/314921,NaN,NaN,amphitheater,30000.0,Tunisia,proconsularis,...,second-century,NaN,https://www.youtube.com/watch?v=oDiCqZCu06I,120.0,93.0,64.0,36.0,36.856078,10.314924,14
16,hadrianVillaAmphitheater,Amphitheater at Hadrian's Villa at Tivoli,Tivoli Villa,https://pleiades.stoa.org/places/423127,NaN,NaN,amphitheater,NaN,Italy,NaN,...,hadrianic,NaN,NaN,NaN,NaN,NaN,NaN,41.941708,12.778929,99
17,corinthAmphitheater,Amphitheater at Corinth,Corinth,https://pleiades.stoa.org/places/570182,18.0,126.0,amphitheater,14000.0,Greece,achaea,...,caesarean,NaN,NaN,98.0,70.0,58.0,30.0,37.909629,22.892126,98
18,marcianopolisAmphitheater,Amphitheater at Marcianopolis (Devnya),Marcianopolis,https://pleiades.stoa.org/places/216878,NaN,127.0,amphitheater,4000.0,Bulgaria,thracia,...,severan,NaN,NaN,70.0,60.0,50.0,40.0,43.218689,27.556674,120
19,porolissumAmphitheater,Amphitheater at Porolissum,Porolissum,https://pleiades.stoa.org/places/207361,NaN,39.0,amphitheater,NaN,Romania,dacia,...,second-century,NaN,NaN,84.0,75.0,64.0,52.0,47.177552,23.154052,441
20,nijmegenAmphitheater,Amphitheater at Nijmegen,Nijmegen,https://pleiades.stoa.org/places/98921,NaN,NaN,amphitheater,NaN,Netherlands,germania-superior,...,second-century,NaN,NaN,NaN,NaN,NaN,NaN,51.838523,5.878859,46
21,carnuntumMilitaryAmphitheater,Military Amphitheater at Carnuntum,Carnuntum (Mil.),https://pleiades.stoa.org/places/128376,NaN,122.0,amphitheater,8000.0,Austria,pannonia,...,first-century,NaN,NaN,99.5,81.5,71.0,43.0,48.126824,16.892619,164
22,carnuntumLudus,Carnuntum (Ludus),Carnuntum Ludus,https://pleiades.stoa.org/places/128376,NaN,NaN,practice-arena,NaN,Austria,pannonia,...,imperial,NaN,https://www.youtube.com/watch?v=aJFH3TCVzTk,NaN,NaN,NaN,NaN,48.109807,16.848689,185
23,carnuntumCivilianAmphitheater,Civilian Amphitheater at Carnuntum,Carnuntum (Civ.),https://pleiades.stoa.org/places/128376,NaN,123.0,amphitheater,13000.0,Austria,pannonia,...,second-century,NaN,https://www.youtube.com/watch?v=Z5TcbJdyEns,129.0,113.0,66.0,50.0,48.110019,16.850943,185
24,leptisMagnaAmphitheater,Amphitheater at Leptis Magna,Leptis Magna,https://pleiades.stoa.org/places/344448,NaN,174.0,amphitheater,16000.0,Libya,proconsularis,...,neronian,NaN,NaN,121.0,111.0,57.0,47.0,32.632340,14.309452,18
25,empuriesAmphitheater,Amphitheater at Empuries,Empuries,https://pleiades.stoa.org/places/246382,NaN,93.0,amphitheater,3343.0,Spain,tarraconensis,...,first-century,NaN,NaN,86.0,54.0,71.0,42.0,42.130042,3.117431,27
26,tarragonaAmphitheater,Amphitheater at Tarragona,Tarragona,https://pleiades.stoa.org/places/246349,NaN,NaN,amphitheater,15000.0,Spain,tarraconensis,...,second-century,NaN,https://www.youtube.com/watch?v=Z-1Qrk5qLAE,95.0,69.5,62.0,39.0,41.114522,1.258780,13
27,cagliariAmphitheater,Amphitheater at Cagliari,Cagliari,https://pleiades.stoa.org/places/471899,NaN,182.0,amphitheater,12283.0,Italy,corsica-et-sardinia,...,second-century,NaN,NaN,92.8,79.2,46.8,33.2,39.223908,9.113228,60
28,italicaAmphitheater,Amphitheater at Italica,Italica,https://pleiades.stoa.org/places/256231,NaN,NaN,amphitheater,25000.0,Spain,baetica,...,second-century,NaN,NaN,160.0,136.0,70.0,44.0,37.443893,-6.046742,17
29,segobrigaAmphitheater,Amphitheater at Segobriga,Segobriga,https://pleiades.stoa.org/places/266036,NaN,NaN,amphitheater,7500.0,Spain,tarraconensis,...,flavian,NaN,NaN,75.0,64.0,47.0,31.0,39.886018,-2.813944,817
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,aureliumCommodianumAmphitheater,Aurelium Commodianum Amphitheater,Aurelium Commodianum,https://pleiades.stoa.org/places/315084,NaN,NaN,amphitheater,NaN,Tunisia,proconsularis,...,second-century,NaN,NaN,65.0,55.0,NaN,NaN,36.527797,9.889218,205
231,jebelMorabaAmphitheater,Jebel Moraba Amphitheater,Jebel Moraba,https://pleiades.stoa.org/places/208942158,NaN,NaN,amphitheater,NaN,Tunisia,proconsularis,...,imperial,NaN,NaN,NaN,NaN,NaN,NaN,36.597655,9.860836,311
232,faleroneAmphitheater,Falerone Amphitheater,Falerone,https://pleiades.stoa.org/places/413127,NaN,99.0,amphitheater,NaN,Italy,NaN,...,julio-claudian,NaN,NaN,88.8,80.0,NaN,NaN,43.101106,13.495903,222
233,fermoAmphitheater,Fermo Amphitheater,Fermo,https://pleiades.stoa.org/places/413135,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,NaN,NaN,NaN,NaN,43.161433,13.718231,290
234,frosinoneAmphitheater,Frosinone Amphitheater,Frosinone,https://pleiades.stoa.org/places/432852,NaN,106.0,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,78.0,57.0,NaN,NaN,41.645070,13.353417,213
235,ruggeAmphitheater,Rugge Amphitheater,Rugge,https://pleiades.stoa.org/places/442753,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,83.0,66.0,NaN,NaN,40.334316,18.146729,38
236,egnaziaAmphitheater,Egnazia Amphitheater,Egnazia,https://pleiades.stoa.org/places/442573,NaN,NaN,amphitheater,NaN,Italy,NaN,...,third-century,NaN,NaN,NaN,NaN,37.0,25.0,40.887891,17.391188,2
237,canosaAmphitheater,Canosa Amphitheater,Canosa,https://pleiades.stoa.org/places/442525,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,138.0,106.0,NaN,NaN,41.221739,16.056030,81
238,sipontoAmphitheater,Siponto Amphitheater,Siponto,https://pleiades.stoa.org/places/442797,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,NaN,NaN,NaN,NaN,41.611536,15.888896,18
239,chietiAmphitheater,Chieti Amphitheater,Chieti,https://pleiades.stoa.org/places/413333,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,NaN,NaN,59.0,40.7,42.345021,14.162550,343
240,teanoAmphitheater,Amphitheater at Teano,Teano,https://pleiades.stoa.org/places/423108,7.0,NaN,amphitheater,NaN,Italy,NaN,...,republican,NaN,NaN,NaN,NaN,NaN,NaN,41.251661,14.065098,191
241,henchirDuomaAmphitheater,Henchir Douama Amphitheater,Henchir Douama,https://pleiades.stoa.org/places/315242,NaN,NaN,amphitheater,NaN,Tunisia,proconsularis,...,imperial,NaN,NaN,55.0,43.0,NaN,NaN,36.412511,9.085182,418
242,ainToungaAmphitheater,Ain Tounga Amphitheater,Ain Tounga,https://pleiades.stoa.org/places/315207,NaN,116.0,amphitheater,3000.0,Tunisia,proconsularis,...,imperial,NaN,NaN,56.0,46.0,39.0,26.5,36.527820,9.361924,226
243,aleriaAmphitheater,Aleria Amphitheater,Aleria,https://pleiades.stoa.org/places/472048,NaN,131.0,amphitheater,1200.0,France,corsica-et-sardinia,...,imperial,NaN,NaN,39.6,34.0,29.6,24.0,42.100889,9.510200,41
244,volterraAmphitheater,Volterra Amphitheater,Volterra,https://pleiades.stoa.org/places/403292,NaN,NaN,amphitheater,10000.0,Italy,NaN,...,first-century,NaN,NaN,80.0,60.0,NaN,NaN,43.407162,10.862152,456
245,vastoAmphitheater,Amphitheater at Vasto,Vasto,https://pleiades.stoa.org/places/413171,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,NaN,NaN,NaN,NaN,42.111291,14.708095,150
246,suasaAmphitheater,Amphitheater at Suasa,Suasa,https://pleiades.stoa.org/places/413324,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,99.0,75.0,58.0,36.0,43.624682,12.986831,139
247,pollenzoAmphitheater,Amphitheater at Pollenzo,Pollenzo,https://pleiades.stoa.org/places/383745,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,NaN,NaN,NaN,NaN,44.684698,7.895993,200
248,vercelliAmphitheater,Amphitheater at Vercelli,Vercelli,https://pleiades.stoa.org/places/383815,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,NaN,NaN,NaN,NaN,45.319277,8.426863,126
249,sanGiovanniAmphitheater,Amphitheater at San Giovanni in Carico,San Giovanni in Carico,https://pleiades.stoa.org/places/432825,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,NaN,NaN,NaN,NaN,NaN,NaN,41.518993,13.552957,87
250,megiddoAmphitheater,Amphitheater at Megiddo,Megiddo,https://pleiades.stoa.org/places/678266,NaN,NaN,amphitheater,NaN,Israel,judaea,...,imperial,NaN,NaN,70.0,50.0,NaN,NaN,32.581020,35.183968,141
251,suessaAruncaAmphitheater,Amphitheater at Suessa Arunca,Suessa Arunca,https://pleiades.stoa.org/places/433132,11.0,NaN,amphitheater,NaN,Italy,NaN,...,republican,NaN,NaN,NaN,NaN,NaN,NaN,41.230843,13.933458,128
252,altripaldaAmphitheater,Amphitheater at Altripalda,Altripalda,https://pleiades.stoa.org/places/432618,12.0,NaN,amphitheater,NaN,Italy,NaN,...,republican,NaN,NaN,NaN,NaN,NaN,NaN,40.917353,14.825649,303
253,compsaAmphitheater,Amphitheater at Compsa,Compsa,https://pleiades.stoa.org/places/442550,NaN,NaN,amphitheater,NaN,Italy,NaN,...,republican,uncertain,NaN,NaN,NaN,NaN,NaN,40.870278,15.330556,572
254,yorkAmphitheater,Amphitheater at York,York,https://pleiades.stoa.org/places/89175,NaN,NaN,amphitheater,NaN,United Kingdom,britannia,...,imperial,uncertain,NaN,NaN,NaN,NaN,NaN,53.958333,-1.080278,21
255,barcelonaAmphitheater,Amphitheater at Barcelona,Barcelona,https://pleiades.stoa.org/places/246343,NaN,NaN,amphitheater,NaN,Spain,tarraconensis,...,imperial,uncertain,NaN,NaN,NaN,NaN,NaN,41.383003,2.182077,3
256,istanbulAmphitheater,Amphitheater at Istanbul,Istanbul,https://pleiades.stoa.org/places/520985,NaN,NaN,amphitheater,NaN,Turkey,thracia,...,imperial,uncertain,NaN,NaN,NaN,NaN,NaN,41.014686,28.985442,32
257,chichesterAmphitheater,Amphitheater at Chichester,Chichester,https://pleiades.stoa.org/places/79622,NaN,NaN,amphitheater,NaN,United Kingdom,britannia,...,flavian,NaN,NaN,70.0,60.0,NaN,NaN,50.835394,-0.771186,14
258,reggioEmiliaAmphitheater,Amphitheater at Reggio Emilia,Reggio Emilia,https://pleiades.stoa.org/places/383755,NaN,NaN,amphitheater,NaN,Italy,NaN,...,imperial,uncertain,NaN,NaN,NaN,NaN,NaN,44.702888,10.629951,59
259,tharrosAmphitheater,Amphitheater at Tharros,Tharros,https://pleiades.stoa.org/places/472032,NaN,NaN,amphitheater,NaN,Italy,corsica-et-sardinia,...,imperial,NaN,NaN,NaN,NaN,NaN,NaN,39.876577,8.440713,27

In [43]:
# print the first two rows of ramphs
ramphs[:4] # this is just like string indexing

,id,title,label,pleiades,welch,golvin,type,capacity,modcountry,province,...,chronogrp,certainty,youtube,extmajor,extminor,arenamajor,arenaminor,latitude,longitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,https://pleiades.stoa.org/places/893989,NaN,129.0,amphitheater,1000.0,Syria,syria,...,severan,NaN,NaN,50.0,44.0,31.0,25.0,34.749855,40.728926,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,https://pleiades.stoa.org/places/148217,NaN,154.0,amphitheater,20000.0,France,narbonensis,...,flavian,NaN,https://www.youtube.com/watch?v=oCz-76hb1LU,136.0,107.0,47.0,32.0,43.677778,4.631111,21
2,lyonAmphitheater,Amphitheater at Lyon,Lyon,https://pleiades.stoa.org/places/167717,NaN,NaN,amphitheater,20000.0,France,lugdunensis,...,second-century,NaN,NaN,105.0,NaN,67.6,42.0,45.770556,4.830556,206
3,ludusMagnusArena,Ludus Magnus Arena,Ludus Magnus,https://pleiades.stoa.org/places/423025,NaN,NaN,practice-arena,NaN,Italy,NaN,...,imperial,NaN,NaN,NaN,NaN,NaN,NaN,41.889950,12.494913,22

In [110]:
# print the first two rows as lower case
ramphs.modcountry.str.lower()[0:6]

0     syria
1    france
2    france
3     italy
4     italy
5     italy
Name: modcountry, dtype: object

In [111]:
# but note we haven't changed the column itself
ramphs.modcountry[0:2]

0     Syria
1    France
Name: modcountry, dtype: object

### sqlite

In [162]:
# Now into sqlite
# create the database
ramphs_sql = sqlite3.connect(":memory:")

# ramphs_sql is a python variable that gives access to the sqlite database

In [164]:
type(ramphs)

pandas.core.frame.DataFrame

In [163]:
# add ramphs and chronogrps tables to the sqlite database
ramphs.to_sql('ramphs',ramphs_sql,if_exists = "replace")
chronogrps.to_sql('chronogrps',ramphs_sql,if_exists = "replace")

In [165]:
# Non pandas way of accessing tables in the database
# create cur as a variable with methods that let us send queries to the sqlite database
cur = ramphs_sql.cursor()

# cur has an .execute method
cur.execute("SELECT id,modcountry FROM ramphs WHERE modcountry = 'France'")
for i in cur.fetchall():
    print(i)

# it is good practice to close a cursor when you're done with it
cur.close()
# the output is not very nicely formatted

('arlesAmphitheater', 'France')
('lyonAmphitheater', 'France')
('parisAmphitheater', 'France')
('nimesAmphitheater', 'France')
('gennesAmphitheater', 'France')
('bordeauxAmphitheater', 'France')
('cimiezAmphitheater', 'France')
('perigueuxAmphitheater', 'France')
('saintesAmphitheater', 'France')
('frejusAmphitheater', 'France')
('toulouseAmphitheater', 'France')
('lillebonnAmphitheater', 'France')
('besanconAmphitheater', 'France')
('limogesAmphitheater', 'France')
('poitiersAmphitheater', 'France')
('reimsAmphitheater', 'France')
('rodezAmphitheater', 'France')
('beziersAmphitheater', 'France')
('agenAmphitheater', 'France')
('narbonneAmphitheater', 'France')
('amiensAmphitheater', 'France')
('meauxAmphitheater', 'France')
('chartresAmphitheater', 'France')
('senlisAmphitheater', 'France')
('toursAmphitheater', 'France')
('autunAmphitheater', 'France')
('stMarcelAmphitheater', 'France')
('metzAmphitheater', 'France')
('grandHalfAmphitheater', 'France')
('bourgesAmphitheater', 'France')
('chassenonAmphitheater', 'France')
('drevantAmphitheater', 'France')
('montbouyGalloRomanAmphitheater', 'France')
('aquaeNeriAmphitheater', 'France')
('aleriaAmphitheater', 'France')

In [166]:
# it's simpler with pandas
pd.read_sql_query("SELECT id,modcountry FROM ramphs WHERE modcountry = 'France'", ramphs_sql)
# a single line produces useful result

                                id modcountry
0                arlesAmphitheater     France
1                 lyonAmphitheater     France
2                parisAmphitheater     France
3                nimesAmphitheater     France
4               gennesAmphitheater     France
5             bordeauxAmphitheater     France
6               cimiezAmphitheater     France
7            perigueuxAmphitheater     France
8              saintesAmphitheater     France
9               frejusAmphitheater     France
10            toulouseAmphitheater     France
11           lillebonnAmphitheater     France
12            besanconAmphitheater     France
13             limogesAmphitheater     France
14            poitiersAmphitheater     France
15               reimsAmphitheater     France
16               rodezAmphitheater     France
17             beziersAmphitheater     France
18                agenAmphitheater     France
19            narbonneAmphitheater     France
20              amiensAmphitheater     France
21               meauxAmphitheater     France
22            chartresAmphitheater     France
23              senlisAmphitheater     France
24               toursAmphitheater     France
25               autunAmphitheater     France
26            stMarcelAmphitheater     France
27                metzAmphitheater     France
28           grandHalfAmphitheater     France
29             bourgesAmphitheater     France
30           chassenonAmphitheater     France
31             drevantAmphitheater     France
32  montbouyGalloRomanAmphitheater     France
33           aquaeNeriAmphitheater     France
34              aleriaAmphitheater     France

## Joining Tables

In [167]:
# edit this to list the numeric start date of every amphitheater. 
# once you get basic query add an ORDER BY statement to sort by that date.
# note that I've '?'s in the WHERE clause. That's what you need to change.
# we did this in class so I think this will seem familiar
df = pd.read_sql_query('''SELECT ramphs.id, chronogrps.start
    FROM ramphs, chronogrps
    ORDER BY chronogrps.chronogrp
    ''',ramphs_sql)
df
#? can get the same result with ORDER BY, but could not figure out the WHERE statement

                                   id  start
0             duraEuroposAmphitheater    -27
1                   arlesAmphitheater    -27
2                    lyonAmphitheater    -27
3                    ludusMagnusArena    -27
4             romeFlavianAmphitheater    -27
5          romeAmphitheatrumCastrense    -27
6          eleutheropolisAmphitheater    -27
7                 pompeiiAmphitheater    -27
8                  meridaAmphitheater    -27
9                newsteadAmphitheater    -27
10             conimbrigaAmphitheater    -27
11                  cumaeAmphitheater    -27
12        pozzuoliFlavianAmphitheater    -27
13          pozzuoliEarlyAmphitheater    -27
14               syracuseAmphitheater    -27
15               carthageAmphitheater    -27
16           hadrianVillaAmphitheater    -27
17                corinthAmphitheater    -27
18          marcianopolisAmphitheater    -27
19             porolissumAmphitheater    -27
20               nijmegenAmphitheater    -27
21      carnuntumMilitaryAmphitheater    -27
22                     carnuntumLudus    -27
23      carnuntumCivilianAmphitheater    -27
24            leptisMagnaAmphitheater    -27
25               empuriesAmphitheater    -27
26              tarragonaAmphitheater    -27
27               cagliariAmphitheater    -27
28                italicaAmphitheater    -27
29              segobrigaAmphitheater    -27
...                               ...    ...
4130  aureliumCommodianumAmphitheater    200
4131          jebelMorabaAmphitheater    200
4132             faleroneAmphitheater    200
4133                fermoAmphitheater    200
4134            frosinoneAmphitheater    200
4135                ruggeAmphitheater    200
4136              egnaziaAmphitheater    200
4137               canosaAmphitheater    200
4138              sipontoAmphitheater    200
4139               chietiAmphitheater    200
4140                teanoAmphitheater    200
4141         henchirDuomaAmphitheater    200
4142            ainToungaAmphitheater    200
4143               aleriaAmphitheater    200
4144             volterraAmphitheater    200
4145                vastoAmphitheater    200
4146                suasaAmphitheater    200
4147             pollenzoAmphitheater    200
4148             vercelliAmphitheater    200
4149          sanGiovanniAmphitheater    200
4150              megiddoAmphitheater    200
4151         suessaAruncaAmphitheater    200
4152           altripaldaAmphitheater    200
4153               compsaAmphitheater    200
4154                 yorkAmphitheater    200
4155            barcelonaAmphitheater    200
4156             istanbulAmphitheater    200
4157           chichesterAmphitheater    200
4158         reggioEmiliaAmphitheater    200
4159              tharrosAmphitheater    200

[4160 rows x 2 columns]

In [168]:
# we ran this query in class
# edit it so it does different things
df = pd.read_sql_query('''SELECT ramphs.id, ramphs.modcountry, chronogrps.start
    FROM ramphs, chronogrps
    WHERE ramphs.chronogrp = chronogrps.chronogrp and ramphs.modcountry = "Italy"
       AND chronogrps.start < 99
       AND chronogrps.start > 0
    ORDER BY chronogrps.start
    ''',ramphs_sql)
df

                                         id modcountry  start
0                   roccellettaAmphitheater      Italy      1
1                         milanAmphitheater      Italy      1
2                  sanVittorinoAmphitheater      Italy      1
3                        ordonaAmphitheater      Italy      1
4                     minturnaeAmphitheater      Italy      1
5                    forumNovumAmphitheater      Italy      1
6                         terniAmphitheater      Italy      1
7                      volterraAmphitheater      Italy      1
8                          ludusMagnusArena      Italy     50
9                       catiniaAmphitheater      Italy     50
10                         lunaAmphitheater      Italy     50
11                      cassinoAmphitheater      Italy     50
12                      libarnaAmphitheater      Italy     50
13                     carsulaeAmphitheater      Italy     50
14                     florenceAmphitheater      Italy     50
15                    ocriculumAmphitheater      Italy     50
16                       larinoAmphitheater      Italy     50
17                      allifaeAmphitheater      Italy     50
18  hydataHypsitanaForumTraianiAmphitheater      Italy     50
19                        luccaAmphitheater      Italy     50
20                    hispellumAmphitheater      Italy     50
21               cividateCamunoAmphitheater      Italy     50
22                     grumentoAmphitheater      Italy     50
23                        tiburAmphitheater      Italy     50
24                       assisiAmphitheater      Italy     50
25                         susaAmphitheater      Italy     50
26                        ivreaAmphitheater      Italy     50
27                     aquileiaAmphitheater      Italy     50
28                        lecceAmphitheater      Italy     50
29         sanBenedettoDeiMarsiAmphitheater      Italy     50
..                                      ...        ...    ...
34                       aquinoAmphitheater      Italy     50
35                      altinumAmphitheater      Italy     50
36                        imolaAmphitheater      Italy     50
37                       venosaAmphitheater      Italy     50
38                       teramoAmphitheater      Italy     50
39                       bevanaAmphitheater      Italy     50
40                     sinuessaAmphitheater      Italy     50
41                            zagaroloLudus      Italy     50
42                         todiAmphitheater      Italy     50
43                      spoletoAmphitheater      Italy     50
44                        fermoAmphitheater      Italy     50
45                    frosinoneAmphitheater      Italy     50
46                        ruggeAmphitheater      Italy     50
47                       canosaAmphitheater      Italy     50
48                      sipontoAmphitheater      Italy     50
49                       chietiAmphitheater      Italy     50
50                        vastoAmphitheater      Italy     50
51                        suasaAmphitheater      Italy     50
52                     pollenzoAmphitheater      Italy     50
53                     vercelliAmphitheater      Italy     50
54                  sanGiovanniAmphitheater      Italy     50
55                 reggioEmiliaAmphitheater      Italy     50
56                      tharrosAmphitheater      Italy     50
57                  romeFlavianAmphitheater      Italy     69
58              pozzuoliFlavianAmphitheater      Italy     69
59                       arezzoAmphitheater      Italy     69
60                   urbisagliaAmphitheater      Italy     69
61               terminiImereseAmphitheater      Italy     69
62                      bolsenaAmphitheater      Italy     69
63                capuaImperialAmphitheater      Italy     69

[64 rows x 3 columns]

## Adding Pleiades so we have a lot of data to work with

In [169]:
# get pleiades data
# this transfer takes a while so only execute this cell as necessary
response = urllib.request.urlopen("http://atlantides.org/downloads/pleiades/dumps/pleiades-places-latest.csv.gz")
pleiades = pd.read_csv(io.BytesIO(gzip.decompress(response.read())))

In [170]:
# you can always repeat this cell to reload the pleiades table
pleiades.to_sql('pleiades',ramphs_sql,if_exists = "replace")

In [171]:
# this was where things got whacky in class
cur = ramphs_sql.cursor()
# let's use direct access to the sqlite database to update the pleiades sqlite table
cur.execute("UPDATE pleiades SET path = 'https://pleiades.stoa.org'||path")
cur.close()

# what did we just do? Briefly...
# The '||' combines two string together. The UPDATE command of SQL can change values in all rows of a column

In [172]:
# test that it worked
pd.read_sql_query("SELECT path FROM pleiades LIMIT 5", ramphs_sql)

                                        path
0  https://pleiades.stoa.org/places/48210385
1  https://pleiades.stoa.org/places/48210386
2    https://pleiades.stoa.org/places/265876
3    https://pleiades.stoa.org/places/265877
4    https://pleiades.stoa.org/places/265878

In [173]:
# find amphitheaters in "Pleiades Roman only" sites
# now ramphs.pleiades shares values with pleiades.path
# we ran this query in class

pd.read_sql_query('''SELECT  ramphs.id, pleiades.timePeriods
          FROM ramphs, pleiades
          WHERE ramphs.pleiades = pleiades.path and pleiades.timePeriods = 'R';''', ramphs_sql)
# this is where we ended in class

                           id timePeriods
0    tigavaCastraAmphitheater           R
1     tomen-y-murAmphitheater           R
2           miciaAmphitheater           R
3      porolissumAmphitheater           R
4   sarmizegetusaAmphitheater           R
5               zagaroloLudus           R
6        bobadelaAmphitheater           R
7        newsteadAmphitheater           R
8            metzAmphitheater           R
9        arnsburgAmphitheater           R
10        dambachAmphitheater           R

In [180]:
# your intermediate task: edit the following sql so that the chronogrps.start
# column is added to the output.
# That will mean your pulling data from three tables

# HINT: you need to make a change to the SELECT clause, to the FROM clause, and to the WHERE clauses
# but it's the WHERE clause that does the work. Remember, I stressed you can
# add multiple "AND"s. 
pd.read_sql_query('''SELECT  ramphs.id, pleiades.timePeriods
          FROM ramphs, pleiades
          WHERE ramphs.pleiades = pleiades.path
          AND pleiades.timePeriods = "HRL"
          AND ramphs.modcountry = "Italy"
          AND pleiades.locationPrecision = "precise"
          ;''', ramphs_sql)


# MORE HINTS BUT DON"T READ THESE UNTIL YOU'VE TRIED TO DO TASK ON YOUR OWN
# What is the column you need to add to the SELECT clause?
# What is the table you need to add to the FROM clause?
# You need a new " AND ..." 'subclause' of the WHERE clause. One that joins ramphs and chronogrps. We've done this already

                                id timePeriods
0         hadrianVillaAmphitheater         HRL
1               avellaAmphitheater         HRL
2             carsulaeAmphitheater         HRL
3              allifaeAmphitheater         HRL
4            hispellumAmphitheater         HRL
5              telesiaAmphitheater         HRL
6           urbisagliaAmphitheater         HRL
7           monteleoneAmphitheater         HRL
8              bolsenaAmphitheater         HRL
9         sanVittorinoAmphitheater         HRL
10              aquinoAmphitheater         HRL
11  augustaBagiennorumAmphitheater         HRL
12         faleriiNoviAmphitheater         HRL
13              venosaAmphitheater         HRL
14              bevanaAmphitheater         HRL
15           minturnaeAmphitheater         HRL
16            faleroneAmphitheater         HRL
17               suasaAmphitheater         HRL
18          altripaldaAmphitheater         HRL

In [ ]:
# YOUR ASSIGNMENT is either
# 1) Adapt the above SELECT query to do something like:
# "Find all amphitheaters in Italy from sites that Pleiades thinks were founded before 323 BC. Order by earliest date of the amphitheater." 
# Hint: Use the pleiades.minDate column
# Then make some variations on that theme
# OR
# 2) load your own data and write SELECT queries that join tables on common values.

# Add this edited iPyton notebook to your github repository and put a link to it in the Google Doc